**Unzip**- Equal to: 1) unpack the zipped list, 2) zip

the result

In [88]:
colours_and_friuts = [('green', 'apple'), ('red', 'mango'), ('black', 'grapes')]
colours, fruits = list(zip(*colours_and_fruits))
colours =list(colours)
fruits =list(fruits)
print(colours)
print(fruits)

['green', 'red', 'black']
['apple', 'mango', 'grapes']

**zip(i1, i2, ...)**- Groups the i-th elements of iterators i1, i2,

... together

In [89]:
first_names = ['arul', 'saru']
last_names = ['kumar', 'hasan']
first_and_last_names= list(zip(first_names, last_names))
print(first_and_last_names)

[('arul', 'kumar'), ('saru', 'hasan')]

In [90]:
colours = ['green','red','black','blue']
fruits = ['apple','mango','grapes']
colours_and_fruits=list(zip(colours,fruits))
print(colours_and_fruits)

[('green', 'apple'), ('red', 'mango'), ('black', 'grapes')]

**The len() Function**-
Evaluates to the integer value of the number of characters in a string

In [91]:
len('saru')

4

**if Statements**

In [93]:
name = 'Saru'
if name == 'Saru':
    print('Hi, Saru.')

Hi, Saru.

**Else Statements**

In [94]:
name = 'Prem' 
if name == 'Saru':
    print('Hi, Saru.')
else:
    print('Hello, Stranger.')

Hello, Stranger.

**while**- While loop - same semantics

In [97]:
spam = 0
while spam < 5:
    print('Hello, world.')
    spam = spam + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

**continue Statements**-
When the program execution reaches a continue statement, the program execution immediately jumps back to the start of the loop.

In [98]:
while True:
    print('Who are you?')
    name = input()
    if name != 'Arul':
        continue
    print('Hello, Arul. What is the password? (It is a fish.)')
    password = input()
    if password == 'swordfish':
        break
print('Access granted.')

Who are you?
Arul
Hello, Arul. What is the password? (It is a fish.)
swordfish
Access granted.

**break Statements**-
If the execution reaches a break statement, it immediately exits the while loop’s clause:

In [99]:
while True:
    print('Please type your name.')
    name = input()
    if name == 'Ajith':
        break
    print('Thank you!')

Please type your name.
Ajith

**for Loops and the range() Function**

In [100]:
print('My name is')
for i in range(7):
     print('Saruhasan seven Times ({})'.format(str(i)))

My name is
Saruhasan seven Times (0)
Saruhasan seven Times (1)
Saruhasan seven Times (2)
Saruhasan seven Times (3)
Saruhasan seven Times (4)
Saruhasan seven Times (5)
Saruhasan seven Times (6)

**The range() function can also be called with three arguments. The first two arguments will be the start and stop values, and the third will be the step argument. The step is the amount that the variable is increased by after each iteration.**

In [101]:
for i in range(0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

**You can even use a negative number for the step argument to make the for loop count down instead of up.**

In [103]:
for i in range(5, -2, -2):
     print(i)

5
3
1
-1

**Logical AND operator**-
Logical operator returns True if both the operands are True else it returns False.

In [104]:
a = 10
b = 10
c = -10
  
if a > 0 and b > 0:
    print("The numbers are greater than 0")
  
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

If the first expression evaluated to be false while using and operator, then the further expressions are not evaluated.

In [105]:
a = 10
b = 12
c = 0
  
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

**Logical or operator**-
Logical or operator returns True if either of the operands is True.

In [106]:
a = 10
b = -10
c = 0
  
if a > 0 or b > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")
  
if b > 0 or c > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

**Logical not operator**-
Logical not operator work with the single boolean value. If the boolean value is True it returns False and vice-versa.

In [107]:
a = 10
  
if not a:
    print("Boolean value of a is True")
  
if not (a%3 == 0 or a%5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

**if true false Example**-It has the value False. If you want to set it to on, you would type:

In [108]:
a == (1 > 2)
b == (3 < 5)
if a:
    print("a is True")
else:
    print("a is False")
if b:
  print("b is True")
else:
  print("b is Flase")

a is True
b is True

**in**- Checks whether element is in sequence

In [109]:
Numbers=(11,22,33,44)
print(88 in Numbers)

False

**List**- A container data type that stores a
sequence of elements. Unlike strings, lists
are mutable: modification possible.

In [141]:
a = [1,5,8,9,5,7]
print(len(a))

6

**Python Lambda Function with List Comprehension**-
In this example, we will use the lambda function with list comprehension and lambda with for loop. We will try to print the table of 10.

In [110]:
tables = [lambda x=x: x*10 for x in range(1, 11)]
 
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

**lst.append()**-Appends element x to the list lst.

In [116]:
lst = ['cat' , 'dog' , 'bat']
lst.append('moose')
lst

['cat', 'dog', 'bat', 'moose']

**lst.insert()**-Inserts element x at position (index) i in

the list lst.

In [117]:
lst = ['cat', 'dog', 'bat']
lst.insert(1, 'chicken')
lst

['cat', 'chicken', 'dog', 'bat']

**lst.index()**- Returns the position (index) of the first
occurrence of value x in the list lst.

In [119]:
lst = ['aathi', 'arul' , 'ajith' , 'irfan']
lst.index('irfan')

3

**lst.remove()**-If the value appears multiple times in the list, only the first instance of the value will be removed.

In [121]:
lst = ['aathi', 'arul' , 'ajith' , 'irfan']
lst.remove('arul')
lst

['aathi', 'ajith', 'irfan']

**lst.sort()**- Sorts the elements in the list lst in
ascending order.

In [123]:
lst = ['suriya' , 'naveen' ,'manoj' ,'bala' ,'arul' ,'vijay' ]
lst.sort()
lst

['arul', 'bala', 'manoj', 'naveen', 'suriya', 'vijay']

**lst.reverse()**- Reverses the order of elements in the list

In [124]:
lst = ['suriya' , 'naveen' ,'manoj' ,'bala' ,'arul' ,'vijay' ]
lst.reverse()
lst

['vijay', 'arul', 'bala', 'manoj', 'naveen', 'suriya']

**lst.clear()**- Removes all elements from the list
lst–which becomes empty.

In [125]:
lst = ['aathi', 'arul' , 'ajith' , 'irfan']
lst.clear()
lst

[]

**lst.count()**- Counts the number of occurrences of
element x in the list lst.

In [128]:
lst = ['manoj', 'aathi', 'arul' , 'ajith' , 'irfan']
lst.count('aathi')

1

**lst.copy()**- Returns a copy of the list lst. Copies only
the list, not the elements in the list (shallow copy)

In [130]:
lst = ['ajith', 'bala', 'chandru', 'mayilan', 'hari', 'mani',]
lst.copy()

['ajith', 'bala', 'chandru', 'mayilan', 'hari', 'mani']

**lst.pop()**- Removes and returns the final element of

the list lst.

In [132]:
lst = ['ajith', 'bala', 'chandru', 'mayilan', 'hari', 'mani',]
lst.pop()

'mani'

**lst.extend(iter)**- Adds all elements of an iterable iter (e.g.

another list) to the list lst.

In [136]:
lst = ['ajith', 'bala', 'chandru', 'mayilan', 'hari', 'mani',]
lst.extend(['krishna', 'bharath', 'sanjay'])
lst

['ajith',
 'bala',
 'chandru',
 'mayilan',
 'hari',
 'mani',
 'krishna',
 'bharath',
 'sanjay']

**Stack**- Python lists can be used intuitively as stack
via the two list operations append() and
pop().

In [140]:
stack = ['chandru', 'mayilan', 'shakthi', 'kani']
stack.append('sarath')
stack.pop()

'sarath'